body {
	background-color: #434343;
	color: white;
	font-size: 16px;
}

.menu-top {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
.menu-top li {
	display: inline-block;
	vertical-align: middle;
	*zoom: 1;
}
.menu-top a {
	display: block;
	padding: 8px 16px;
}

a {
	color: white;
	font-weight: normal;
}
td {
	text-align: center;
}

.table-translation td {
	text-align: left;
}