body {
	background-color: #434343;
	color: white;
	font-size: 16px;
}

.overall {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

nav ul {
	position: relative;
}
nav ul li {
	display: inline-block;
	vertical-align: middle;
	*zoom: 1;
	position: relative;
}
nav ul li:hover .sub {
	display: block;
}
nav a {
	display: block;
	padding: 8px 20px;
}
nav ul.sub {
	position: absolute;
	top: 100%;
	left: 0;
	margin: 0;
	padding: 0;
	display: none;
	background-color: white;
	border: 1px solid gray;
	z-index: 1000;
}
nav ul.sub a {
	padding: 6px 12px;
}

.footer ul {
	display : inline-block;
	vertical-align: middle;
	*zoom: 1;
}


.title {
	font-size: 16px;
	font-weight: bold;
}

