
.section {
	margin-bottom: 30px;
}

#products,
#children_categories {
	text-align: center;
}

.item {
	display: inline-block;
	vertical-align: middle;
	*zoom: 1;
	position: relative;
}
.item img {
	height: 250px;
}
