table {
	border-collapse: collapse;
}

th {
	background-color: #555555;
	color: white;
}
td, th {
	border-left: 1px solid #CECECE;	
	text-align: center;
	padding: 4px;
}
td:last-child(odd), th:last-child(odd){
	border: none;
}

tr {
	border-left: 1px solid #CECECE;
	border-right: 1px solid #CECECE;
	border-bottom: 1px solid #CECECE;
}
tr:hover {
	background-color: #CACACA;
	/*cursor: pointer;*/
}

.left {
	float: left;
}
.right {
	float: right;
}
.grid-12 {
	width: 100%;
}
.grid-8 {
	width: 75%;
}
.grid-6 {
	width: 50%;
}
.grid-4 {
	width: 25%;
}