.menu {
	padding: 0;
}

.menu li {
	list-style-type: none;
	display: inline-block;
	vertical-align: middle;
	*zoom : 1;
}

.menu li a {
	display: block;
	padding: 8px 16px;
}

.menu .active a {
	background-color: grey;
	font-weight: bold;
}